<div class="row">
	<div class="col-4">
		<ul class="list-unstyled">
			<li><a uiSref="angularDemos.services-demos.basic">Basic Service</a></li>
			<li>
				<code><a uiSref="angularDemos.services-demos.useClass">useClass</a></code>
			</li>
			<li>
				<code><a uiSref="angularDemos.services-demos.useFactory">useFactory</a></code>
			</li>
			<li>
				<code><a uiSref="angularDemos.services-demos.useValue">useValue</a></code>
			</li>
		</ul>
	</div>
	<div class="col"><ui-view></ui-view></div>
</div>
